In [ ]:
#  Write a code to create a string with your name and print it?

In [ ]:
name = "Satyabrata"
print(name)

Satyabrata

In [ ]:
#  Write a code to find the length of the string "Hello World"?

In [ ]:
text = "Hello World"
print(len(text))

11

In [ ]:
#  Write a code to slice the first 3 characters from the string "Python Programming"?

In [ ]:
s = "Python Programming"
print(s[:3])

Pyt

In [ ]:
#  Write a code to convert the string "hello" to uppercase ?

In [ ]:
word = "hello"
print(word.upper())

HELLO

In [ ]:
#  Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [ ]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [ ]:
#  Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
numbersbysatya  = [1, 2, 3, 4, 5]
print(numbersbysatya)

[1, 2, 3, 4, 5]

In [ ]:
#  Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
#  Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [ ]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [ ]:
#  Write a code to reverse the list [10, 20, 30, 40, 50]?

In [ ]:
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.?

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').?

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [ ]:
#  13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).?

In [ ]:
nums = (10, 20, 5, 15)
print(min(nums))

5

In [ ]:
#  14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').?

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [ ]:
#  15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.?

In [ ]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [ ]:
#  16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.?

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [ ]:
#  17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.?

In [ ]:
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [ ]:
#  18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.?

In [ ]:
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.?

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [ ]:
#  20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.?

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [ ]:
#  21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.?

In [ ]:
person = {"name": "satyabrata", "age": 29, "city": "balasore"}
print(person)

{'name': 'satyabrata', 'age': 29, 'city': 'balasore'}

In [ ]:
#  22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.?

In [ ]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#  23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.?

In [ ]:
data = {'name': 'Alice', 'age': 30}
print(data['name'])

Alice

In [ ]:
  # 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.?

In [ ]:
info = {'name': 'Bob', 'age': 22, 'city': 'New York'}
info.pop('age')
print(info)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#  25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.?

In [ ]:
data = {'name': 'Alice', 'city': 'Paris'}
print("city" in data)

True

In [ ]:
#  26. Write a code to create a list, a tuple, and a dictionary, and print them all.?

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 10, "b": 20}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 10, 'b': 20}

In [ ]:
#  27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the?

In [ ]:
import random
nums = [random.(1, 100) for _ in range(5)]
nums.sort()
print(nums)

SyntaxError: invalid syntax (ipython-input-3996267401.py, line 2)

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.?

In [ ]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [ ]:
#  29. Write a code to combine two dictionaries into one and print the result.?

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Write a code to convert a list of strings into a set.?

In [ ]:
words = ["apple", "banana", "apple", "cherry"]
word_set = set(words)
print(word_set)

TypeError: 'set' object is not callable